/*global*/
*{
    padding: 0%;
    margin: 0%;
}


body{
    font-family: Arial;
}
h1,h2,h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*utilities*/



.menu{
    color: white;
    margin-right: 20px;
}
.list{
    padding-bottom: 10px
    ;
}
/*header*/
header.site-init{
    background-image: url(./img/header.jpg);
    background-position:top left;
    background-size: auto;
    height: 400px;
    color: white;
    text-align: center;
}
.bar{
    display: flex;
}
