/*global*/

html{
    font-size: 62.5%;
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: "Roboto", sans-serif;
}
h1{
    font-size: 2.3rem;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h3{
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }




a{
    color:white;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 1rem;

}
img{
    max-width: 100%;
    }
/*utilities*/

.bar{
    display: flex;
    justify-content: space-around;
    height: 10rem;
    align-items: center;

}
.number-clr{
    color: rgb(32, 158, 32);
    text-align: left;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.bt{
    font-weight: bold;
    text-align: center;
}
.lt{
    font-weight: 100;
    text-align: center;
}


/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height: 30rem;
}
.flex-c{
    display: flex;
    
}

/*more about us*/
.more-about-item{
    margin-right: 1rem;
    padding: 1rem;
}

/*houses and penthouses*/

.houses-item{
    background-color: rgb(219, 212, 212);
    margin-right: 1rem;
    text-align: center;    

}
.houses-items a{    
    
}

.see-details{
    background-color: orange;
    display: block;
    
}

/*contact*/
.site-contact{
    background-color: rgb(193, 134,6);
    color: black;
    height: 20rem;
}

.site-contact a{
    color: black;    
} 

    

.footer{
    background-color: rgb(228, 226, 226);
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    
}
.footer a{
    color: black;
} 
.form-container{
    background-color: #dedede;
    padding: 1rem;
    border-radius: 1rem;  
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}  
.form-container fieldset{
    font-size: 1.6rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid gray;
}
.form-control{
    margin: 1rem;
    
}

.form-control input, 
.form-control select, 
.form-control textarea{
    width: 60%;
    padding: 3px;
}
.form-control label{
    display: inline-block;
    width: 150px;
    font size: 1.4rem;
}

.margin-r-sm{
    margin-right: 2rem;
}
    


